# OS Files
*.DS_Store

# IDE files
.idea/

# Python build files
*__pycache__*
*.pyc
.eggs/
SNData.egg-info/
build/
dist/

# Light Curve Data
sndata/*/*/data

# Testing cache files
.pytest_cache/

# Built Docs
docs/build
