.wy-nav-content {
    max-width: 60%;
}

.wy-nav-side {
    max-width: 25%;
}

table.badges {
     border: none !important;
}

td {
    background-color: whitesmoke !important;
    border-left-width: 1px !important;
}

